<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../vue.js"></script>
    <title>Exercicio 4</title>
</head>
<body>

    <div id="app">
        <p>Carrinho: {{itens}}</p>
        <div v-if="itens < 7">
            <button @click="itens++">Adicionar</button>
        </div>
        <div v-if="itens == 7">
            <p>Não é possivel adicionar mais que 7 itens!</p>
        </div>
    </div>

    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                itens: 0,
            },
            methods: {

            }
        });
    </script>

</body>
</html>