<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../vue.js"></script>
    <title>Exercicio 7</title>
</head>
<body>

    <div id="app">
        <button @click="puxarPaises">Puxar</button>
        <select name="paises" id="paises" v-model="paisSelecionado">
            <option v-for="pais in paises" :value="pais.nome">{{pais.nome.abreviado}}</option>
        </select>
        <p>{{capital}}</p>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                paisSelecionado: '',
                capital: '',
                paises: {},
            },
            methods: {
                puxarPaises() {
                    fetch('https://servicodados.ibge.gov.br/api/v1/paises')
                    .then(r => r.json())
                    .then(r => {
                        this.paises = r;
                    })
                }
            },
            watch: {
                paisSelecionado(valor) {
                    this.capital = this.paises.find((pais) => pais.nome === valor);
                }
            }
        });
    </script>

</body>
</html>

<!--
    https://servicodados.ibge.gov.br/api/v1/paises
-->